.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  box-shadow: 5px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 0.1s ease-in;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product_price {
  margin-top: 5px;
}
.product_info {
  height: 100px;
  margin-bottom: 15px;
}
.product > button {
  background-color: #f8c146;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.product_ratings p {
  display: flex;
  /* flex-direction: row; */
}
.product:hover {
  transform: scale(1.05);
}
